@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  flex: 1;
  min-height: 100%;
  color: white;
}

app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 6rem;
  flex: 1;
  display: flex;
  background-image: url("./assets/background.svg");
  background-size: cover;

  & > *:not(router-outlet) {
    flex: 1;
  }
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1 !important;
  display: block !important;
}
