.card {
  @media (max-width: 750px) {
    max-width: 80vw;
  }
}

.card:hover {
  .action-buttons {
    transition: all 600ms ease-in-out;
    opacity: 1;
    bottom: 30%;
  }
}

.card-header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-body {
  height: 135px;
}

.setup-img {
  flex-basis: 20rem;
  max-width: 100%;
  max-height: 100%;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  bottom: 20%;
  width: 100%;
  opacity: 0;
}
