<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign Up</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><fa-icon [icon]="faUser"></fa-icon
              ></span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="username"
              formControlName="username"
            />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><fa-icon [icon]="faUserTag"></fa-icon
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="name"
              formControlName="name"
            />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><fa-icon [icon]="faKey"></fa-icon
              ></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="password"
              formControlName="password"
            />
          </div>
          <div class="form-group btn-set">
            <button
              type="submit"
              (click)="register()"
              [disabled]="!registerForm.valid"
              class="btn btn-outline-success my-2 my-sm-0"
            >
              Register
            </button>
            <button
              type="button"
              (click)="registerForm.reset()"
              class="btn btn-outline-secondary my-2 my-sm-0"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Already have an account?<a [routerLink]="['/login']">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
