<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign Up</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" autocomplete="off">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><fa-icon [icon]="faUser"></fa-icon
              ></span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="username"
              formControlName="username"
              [ngClass]="{
                'is-valid': username?.valid && username?.touched,
                'is-invalid': !username?.valid && username?.touched
              }"
            />
            <div
              *ngIf="!username?.valid && username?.touched"
              class="invalid-feedback"
            >
              Email is invalid please verify.
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><fa-icon [icon]="faUserTag"></fa-icon
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="name"
              formControlName="name"
              [ngClass]="{
                'is-valid': name?.valid && name?.touched,
                'is-invalid': !name?.valid && name?.touched
              }"
            />
            <div *ngIf="!name?.valid && name?.touched" class="invalid-feedback">
              Name can't be empty.
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><fa-icon [icon]="faKey"></fa-icon
              ></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="password"
              formControlName="password"
              [ngClass]="{
                'is-valid': password?.valid && password?.touched,
                'is-invalid': !password?.valid && password?.touched
              }"
            />
            <ng-container *ngIf="!password?.valid && password?.touched">
              <div *ngIf="password?.errors?.required" class="invalid-feedback">
                Password can't be empty.
              </div>
              <div
                *ngIf="
                  password?.errors?.minlength.actualLength <
                  password?.errors?.minlength.requiredLength
                "
                class="invalid-feedback"
              >
                Password needs to have at least 8 characters.
              </div>
            </ng-container>
          </div>
          <div class="form-group btn-set">
            <button
              type="submit"
              (click)="register()"
              [disabled]="!registerForm.valid"
              class="btn btn-outline-success my-2 my-sm-0"
            >
              Register
            </button>
            <button
              type="button"
              (click)="registerForm.reset()"
              class="btn btn-outline-secondary my-2 my-sm-0"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Already have an account?<a [routerLink]="['/login']">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
