<ng-container *ngIf="{ value: isAuthenticated$ | async } as authenticated">
  <ng-container *ngIf="authenticated.value; else loggedOut">
    <ng-container *ngIf="member$ | async as member">
      <ng-container *ngIf="member">
        <ng-container
          *ngTemplateOutlet="memberInfo; context: { member: member }"
        ></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #memberInfo let-member="member">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card bg-dark p-2">
        <img
          src="{{ member.photoUrl || '../../assets/dummy-profile-icon.png' }}"
          alt="{{ member.userName }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <strong>Name:</strong>
          <p>{{ member.name }}</p>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
          <strong>Occupation:</strong>
          <p>{{ member.occupation }}</p>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
      </div>
    </div>
    <div class="col col-xs-12">
      <app-user-tabs></app-user-tabs>
    </div>
  </div>
</ng-template>

<ng-template #loggedOut>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8">
        <div class="text-center bg-dark">
          <div class="p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">User Information</h1>
            <p class="lead fw-normal">
              Explore all user setups by creating an account or if you already
              have one, sign-in to check all this cool spaces.
            </p>
            <button
              type="button"
              class="btn btn-outline-info mr-3"
              id="login"
              (click)="clickButton($event)"
            >
              Sign In
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              id="register"
              (click)="clickButton($event)"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
