nav {
  min-height: 80px;
  padding: 0px 10%;
  background-color: rgb(49, 47, 43);
  color: white;

  .navbar-brand {
    margin-right: 3rem;
  }

  .logo-img {
    height: 60px;
    width: 75px;
  }

  ul {
    flex: 1;
    justify-content: flex-end;

    li.nav-item {
      margin-right: 3rem;

      a {
        color: white;
        text-decoration: none;
        &:visited {
          color: white;
        }
        &:hover,
        &.router-link-active {
          color: grey;
        }
      }
    }
  }
}

#login {
  margin-right: 1rem;
}

@media (max-width: 960px) {
  nav {
    font-size: 0.9rem;
  }
  input.form-control,
  .login-btn {
    font-size: 0.7rem;
  }

  #button-menu-dividers,
  .dropdown-item {
    font-size: 0.9rem;
  }
}

.navbar-collapse.show[aria-expanded="true"] {
  display: grid !important;
  gap: 5px;
  padding-bottom: 20px;
  padding-top: 20px;

  input {
    margin-top: 5px;
  }
}

.dropdown-menu {
  background-color: #312f2b;
}

.dropdown-item {
  color: white;
  cursor: pointer;
  &:hover {
    color: grey;
  }
}
