nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding: 0px 10%;
  background-color: rgb(49, 47, 43);
  color: white;

  .logo {
    justify-content: center;
    align-items: center;
  }

  .logo-img {
    height: 60px;
    width: 75px;
  }

  ul {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
      margin-right: 3rem;

      a {
        color: white;
        text-decoration: none;
        &:visited {
          color: white;
        }
        &:hover,
        &.router-link-active {
          color: grey;
        }
      }
    }
  }

  .logout {
    cursor: pointer;
  }

  .login-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 80px;
    gap: 10px;
    justify-content: space-around;

    input {
      height: 30px;
      border-radius: 12px;
      padding: 15px;
      border: 0;
      min-width: 200px;
    }

    button {
      box-shadow: inset 0px 1px 0px 0px #d9fbbe;
      background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
      background-color: #b8e356;
      border-radius: 6px;
      border: 1px solid #83c41a;
      display: inline-block;
      color: #ffffff;
      cursor: pointer;
      font-family: Arial;
      font-size: 10px;
      font-weight: bold;
      padding: 6px 24px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #86ae47;

      &:hover {
        background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
        background-color: #a5cc52;
      }
      &:active {
        position: relative;
        top: 1px;
      }
      &:disabled {
        background: linear-gradient(to bottom, #beb9b9 5%, grey 100%);
        background-color: #beb9b9;
        border: 1px solid grey;
        cursor: not-allowed;
      }
    }
  }
}
