<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><fa-icon [icon]="faUser"></fa-icon
              ></span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="username"
              formControlName="username"
              [ngClass]="{
                'is-valid': username?.valid && username?.touched,
                'is-invalid': !username?.valid && username?.touched
              }"
            />
            <div
              *ngIf="!username?.valid && username?.touched"
              class="invalid-feedback"
            >
              Email is invalid please verify.
            </div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><fa-icon [icon]="faKey"></fa-icon
              ></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="password"
              formControlName="password"
              [ngClass]="{
                'is-valid': password?.valid && password?.touched,
                'is-invalid': !password?.valid && password?.touched
              }"
            />
            <div
              *ngIf="!password?.valid && password?.touched"
              class="invalid-feedback"
            >
              Password can't be empty.
            </div>
          </div>
          <div class="row align-items-center remember">
            <input
              type="checkbox"
              (change)="rememberMe($event)"
              [disabled]="!username?.valid"
            />Remember Me
          </div>
          <div class="form-group">
            <button
              type="submit"
              (click)="login()"
              [disabled]="!loginForm.valid"
              class="btn btn-outline-success my-2 my-sm-0 float-right"
            >
              Login
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a [routerLink]="['/register']">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
