<div class="card text-white bg-dark mb-3">
  <div class="card-header">{{ setup.title }}</div>
  <img
    class="card-img-top setup-img"
    src="{{
      setup.photoUrl
        ? setup.photoUrl
        : '../../../../assets/dummy-profile-icon.png'
    }}"
    alt="{{ setup.title }}"
  />
  <ul class="action-buttons">
    <li class="mr-3">
      <button type="button" class="btn btn-dark">
        <fa-icon [icon]="faUser"></fa-icon>
      </button>
    </li>
    <li class="mr-3">
      <button type="button" class="btn btn-dark">
        <fa-icon [icon]="faThumbsUp"></fa-icon>
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-dark">
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </button>
    </li>
  </ul>
  <div class="card-body">
    <p class="card-text">
      {{ setup.description }}
    </p>
  </div>
</div>
